{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suivis par {{ user.username }}</title>
    <link rel="stylesheet" href="{% static 'core/css/search.css' %}">
</head>
<body>
    <header class="header">
        <h1>Suivis par {{ user.username }}</h1>
    </header>
    <main>
        {% if following %}
            <ul class="following-list">
                {% for user in following %}
                    <li>
                        <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'core/images/default_profile.png' %}{% endif %}" alt="{{ user.username }}" class="profile-pic">
                        <a href="{% url 'profile' user.username %}">{{ user.username }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Vous ne suivez aucun utilisateur pour le moment.</p>
        {% endif %}
        
    </main>
    <div class="footer">
        <a href="{% url 'home' %}">
            <i class="fas fa-home footer-icon"></i>
        </a>
        <a href="{% url 'search' %}">
            <i class="fas fa-search footer-icon"></i>
        </a>
        <a href="{% url 'create_post' %}">
            <i class="fas fa-plus-square footer-icon"></i>
        </a>
        <a href="{% url 'profile' %}">
            <i class="fas fa-user footer-icon"></i>
        </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

</body>
</html>