{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Connecteo</title>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <header class="header">
        <h1 class="header-title">Hi, {{ user.username }}!</h1>
        <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        <nav class="nav" >
            <a href="{% url 'profile' %}"><i class="fas fa-user"></i>Mon Profil</a>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn logout-btn">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </button>
            </form>
        </nav>
    </header>

    

    <main class="main-content">
        <section class="latest-posts-section">
            <div class="posts-list">
                {% for post in posts %}
                    <div class="post-item">
                        <div class="post-header">
                            <img src="{% if post.user.profile.profile_picture %}{{ post.user.profile.profile_picture.url }}{% else %}{% static 'core/images/default_profile.png' %}{% endif %}" alt="Profile Picture" class="profile-pic">
                            <span class="username">{{ post.user.username }}</span>
                        </div>
                        <p>{{ post.content }}</p>
                        {% if post.image %}
                            <a href="{% url 'post_detail' post.id %}">
                                <img src="{{ post.image.url }}" alt="Post image" class="post-image">
                            </a>
                        {% endif %}
                        <div class="post-actions">
                            <i class="far fa-heart like-icon"></i>
                            <i class="far fa-comment comment-icon"></i>
                            <i class="far fa-paper-plane share-icon"></i>
                        </div>
                        <div class="post-details">
                            <p><strong>{{ post.likes.count }}</strong> likes</p>
                            <p><strong>{{ post.comments.count }}</strong> commentaires</p>
                        </div>
                        <p class="post-date">{{ post.created_at|date:"d M Y H:i" }}</p>
                    </div>
                {% empty %}
                    <p>Aucun post trouvé. Commencez à suivre des utilisateurs pour voir leurs publications ici.</p>
                {% endfor %}
            </div>
        </section>
    </main>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <footer class="footer">
        <a href="{% url 'home' %}">
            <i class="fas fa-home footer-icon"></i>
        </a>
        <a href="{% url 'search' %}">
            <i class="fas fa-search footer-icon"></i>
        </a>
        <a href="{% url 'messages' %}">
            <i class="fas fa-envelope footer-icon"></i>
        </a>
        <a href="{% url 'notifications' %}">
            <i class="fas fa-bell footer-icon"></i>
        </a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "block") {
                {% comment %} menu.style.display = "none"; {% endcomment %}
            } else {
                menu.style.display = "block";
            }
        }
    </script>
</body>
</html>