{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Connecteo</title>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="header">
        <h1 class="header-title">Hi, {{ user.username }}!</h1>
        <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        <nav class="nav">
            <a href="{% url 'profile' %}"><i class="fas fa-user"></i>Mon Profil</a>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn logout-btn">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </button>
            </form>
        </nav>
    </header>


    <main class="main-content">
        <section class="welcome-section">
        </section>

        <section class="latest-posts-section">
            <div class="posts-list">
                {% for post in posts %}
                    <div class="post-item">
                        <h5>{{ post.user.username }}</h5>
                        <p>{{ post.content }}</p>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="Image du post" class="img-fluid">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <footer class="footer">
        <a href="{% url 'home' %}">
            <i class="fas fa-home footer-icon"></i>
        </a>
        <a href="{% url 'search' %}">
            <i class="fas fa-search footer-icon"></i>
        </a>
        <a href="{% url 'messages' %}">
            <i class="fas fa-envelope footer-icon"></i>
        </a>
        <a href="{% url 'notifications' %}">
            <i class="fas fa-bell footer-icon"></i>
        </a>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }
    </script>
</body>
</html>