
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    
</head>
<body>

<div class="container">
    <h1>Connexion</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Identifiant</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Se connecter</button>
    </form>
    <a href="{% url 'register' %}">S'inscrire</a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<script>
    function openModal(message) {
        document.getElementById('errorMessage').innerText = message;
        document.getElementById('errorModal').style.display = 'flex';
    }

    function closeModal() {
        document.getElementById('errorModal').style.display = 'none';
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        let errorMessages = [];
        let fieldsWithErrors = document.querySelectorAll('.errorlist');

        fieldsWithErrors.forEach((field) => {
            let inputField = field.nextElementSibling; 
            if (inputField) {
                inputField.classList.add('error'); 
            }
            errorMessages.push(field.innerText);
        });

        if (errorMessages.length > 0) {
            openModal(errorMessages.join('\n')); 
        }
    });
</script>
</body>
</html>