{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Notifications</title>
    <link rel="stylesheet" href="{% static 'core/css/notif.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header>
        {% comment %} <h1>Gestion des Notifications</h1> {% endcomment %}
    </header>
    <main>
        <section>
            <h2>Notifications</h2>
            <ul class="notification-list">
                {% for notification in notifications %}
                    <li class="notification-item">
                        <img src="{{ notification.profile_image }}" alt="Profil" class="profile-image">
                        <div class="notification-content">
                            <strong class="notification-title">{{ notification.title }}</strong>
                            <p class="notification-message">{{ notification.message }}</p>
                            <small class="notification-timestamp">{{ notification.timestamp }}</small>
                        </div>
                        <form method="post" action="{% url 'mark_as_read' notification.id %}" class="notification-form">
                            {% csrf_token %}
                            <button type="submit" class="mark-as-read-button">Marquer comme lu</button>
                        </form>
                    </li>
                {% empty %}
                    <li class="no-notifications">Aucune notification pour le moment.</li>
                {% endfor %}
            </ul>

        </div>
        <div class="footer">
            <a href="{% url 'home' %}">
                <i class="fas fa-home footer-icon"></i>
            </a>
            <a href="{% url 'search' %}">
                <i class="fas fa-search footer-icon"></i>
            </a>
            <a href="{% url 'create_post' %}">
                <i class="fas fa-plus-square footer-icon"></i>
            </a>
            <a href="{% url 'profile' %}">
                <i class="fas fa-user footer-icon"></i>
            </a>
        </div>
        </section>
    </main>
</body>
</html>