
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">

</head>
<body>
    <div class="container">
        <h2>Inscription</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                {{ form.age.label_tag }}
                {{ form.age }}
                {{ form.age.errors }}
            </div>
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <div class="form-group">
                <button type="submit">S'inscrire</button>
            </div>
            <p>Déjà inscrit ? <a href="{% url 'login' %}">Se connecter</a></p>
        </form>
    </div>

    <!-- Fenêtre modale pour les messages d'erreur -->
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <p id="errorMessage"></p>
            <button class="close-btn" onclick="closeModal()">Fermer</button>
        </div>
    </div>

    <script>
        // Fonction pour ouvrir la modale
        function openModal(message) {
            document.getElementById('errorMessage').innerText = message;
            document.getElementById('errorModal').style.display = 'flex';
        }

        // Fonction pour fermer la modale
        function closeModal() {
            document.getElementById('errorModal').style.display = 'none';
        }

        // Vérifier si des erreurs existent et ouvrir la modale
        document.addEventListener('DOMContentLoaded', (event) => {
            let errorMessages = [];
            let fieldsWithErrors = document.querySelectorAll('.errorlist');

            fieldsWithErrors.forEach((field) => {
                let inputField = field.nextElementSibling; // Sélectionner le champ d'entrée suivant
                if (inputField) {
                    inputField.classList.add('error'); // Ajouter la classe d'erreur au champ concerné
                }
                // Ajouter les messages d'erreur à la liste
                errorMessages.push(field.innerText);
            });

            if (errorMessages.length > 0) {
                openModal(errorMessages.join('\n')); // Afficher les messages d'erreur dans la modale
            }
        });
    </script>
</body>
</html>